<%- include('../partials/header') %>
</br></br></br>
<form action='/flights/<%= flights._id %>/ticket' method='POST'>
    Seat: <input name="seat" required patterm='[A-F][1-9]\d'/>
    Price: <input type="number" name="price" />
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>